<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imdyc.sw.serverwindows">
    <!--此处声明后android:name中就不必写完全路径-->

    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.ResInfoApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--主页-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <!--由 侧栏菜单 进入的 控制台-->
            <activity
                android:name=".ConsoleActivity"
                android:label="@string/app_name">
            </activity>

                <!--由 控制台-底部菜单-监控/实况 进入的 服务器信息图表-->
                <activity
                    android:name=".ChartActivity"
                    android:label="监控/实况">
                </activity>

            <!--由 侧栏菜单 进入的安全中心-->
            <activity
                android:name=".SecurityActivity"
                android:label="安全中心">
            </activity>




        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>